@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap");
.header {
  position: absolute;
  width: 100%;
  z-index: 100%;
  left: 0;
  top: 35px;
}
.header__row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
}
.header__logo {
  position: absolute;
  top: 0;
  margin: 0 auto;
  z-index: 2;
}
@media (max-width: 830px) {
  .header {
    position: absolute;
    top: 0px;
  }
  .header__row {
    background-color: rgba(77, 73, 89, 0.6);
    width: 100%;
    height: 100vh;
  }
  .header__row img {
    width: 140px;
    padding-top: 30px;
  }
}
@media (max-height: 430px) {
  .header img {
    width: 100px;
    padding-top: 15px;
  }
}
@media (max-height: 350px) {
  .header img {
    width: 70px;
  }
}

.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 -40px;
}
.menu__list li {
  position: relative;
  padding: 0px 37.5px;
}
.menu__list li:nth-child(2) {
  padding: 0px 110px 0 37.5px;
}
.menu__list li:nth-child(3) {
  padding: 0px 37.5px 0 110px;
}
.menu__list li::after {
  content: "";
  width: 4px;
  height: 4px;
  background: #4d4959;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 50%;
}
.menu__list li:nth-child(2)::after, .menu__list li:last-child::after {
  display: none;
}
.menu__link {
  font-size: 13px;
  color: #4d4959;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}
@media (max-width: 830px) {
  .menu__body {
    padding: 150px 0 20px 0;
  }
  .menu__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__list li {
    padding: 0 0 45px 0;
  }
  .menu__list li:nth-child(2), .menu__list li:nth-child(3) {
    padding: 0 0 45px 0;
  }
  .menu__list li:last-child {
    padding: 0;
  }
  .menu__list li::after {
    width: 4px;
    height: 4px;
    background-color: #ffffff;
    right: 50%;
    top: 45px;
  }
  .menu__list li:nth-child(2)::after {
    display: flex;
  }
  .menu__link {
    color: #ffffff;
    font-size: 25px;
  }
}
@media (max-height: 430px) {
  .menu__body {
    padding: 100px 0 20px 0;
  }
  .menu__link {
    color: #ffffff;
    font-size: 15px;
  }
}

.footer {
  background-color: #f7f7f7;
}
.footer__row {
  display: flex;
  padding: 100px 0;
  align-items: center;
}
.footer__column {
  flex: 0 1 33.333%;
}
.footer__adress {
  font-size: 16px;
  color: #848789;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
}
.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .footer {
    padding: -150px 0;
  }
}
@media (max-width: 600px) {
  .footer {
    padding: -180px 0;
  }
  .footer__row {
    flex-direction: column;
  }
  .footer__adress {
    text-align: center;
    padding: 0;
  }
  .footer__social {
    padding: 15px 0;
  }
}

.social__link {
  margin: 0px 8px;
}

.dev {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.dev__text {
  font-size: 14px;
  font-style: italic;
  color: #848789;
  line-height: 1.286;
  padding: 0 10px 0 0;
}
.container {
  max-width: 1130px;
  padding: 0px 15px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

body {
  font-family: "lato";
  margin: 0;
  padding: 0;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.main-screen__bg {
  background: url(../img/page.png) 50% 50%/cover no-repeat;
  width: 100%;
  height: 100vh;
}

.generation {
  padding: 120px 0;
  background: #f7f7f7;
}
@media (max-width: 990px) {
  .generation {
    padding: 80px 0;
  }
}
@media (max-width: 600px) {
  .generation {
    padding: 30px 0;
  }
}

.block {
  text-align: center;
}
.block__icon {
  margin: 0 0 33px 0;
}
.block__title {
  font-size: 18px;
  color: #353738;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  margin: 0 0 18px 0;
  line-height: 24px;
}
.block__text {
  font-size: 18px;
  color: #848789;
  line-height: 34px;
}
.block__text__j {
  text-align: justify;
  font-size: 16px;
  line-height: 30px;
}
.block__text__j::after {
  content: "";
  display: block;
  margin: 35px auto 0 auto;
  width: 50px;
  height: 1px;
  background-color: #ebebeb;
}
@media (max-width: 1500px) {
  .block__text__j::after {
    margin: 15px auto 0px auto;
  }
}

.brands__row {
  display: flex;
}
.brands__column {
  flex: 0 1 33.333%;
}
.brands__column__b {
  flex: 0 1 66.667%;
}
.brands__content {
  padding: 70px 65px 55px 65px;
  position: relative;
}
.brands__content::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0 0 0 -10px;
  height: 0;
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
}
.brands__image {
  padding: 0px 0px 37.5% 0px;
  background: url(../img/Layer11.png) 50% 50%/cover no-repeat;
}
.brands__image2 {
  padding: 0px 0px 37.5% 0px;
  background: url(../img/Layer13.png) 50% 50%/cover no-repeat;
}
.brands__image3 {
  padding: 0px 0px 37.5% 0px;
  background: url(../img/Layer16.png) 50% 50%/cover no-repeat;
}
@media (max-width: 1500px) {
  .brands__content {
    padding: 40px 35px 30px 35px;
  }
}
@media (max-width: 1100px) {
  .brands__row {
    flex-direction: column;
  }
}

.item {
  display: block;
  position: relative;
  height: 100%;
}
.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(100, 194, 158, 0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.item__logo span {
  margin-top: 10px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  text-align: center;
}
.item__image {
  background: url(../img/Layer10.png) 50% 50%/cover no-repeat;
}
.item__image2 {
  background: url(../img/Layer12.png) 50% 50%/cover no-repeat;
}
.item__image3 {
  background: url(../img/Layer15.png) 50% 50%/cover no-repeat;
}
.item__image4 {
  background: url(../img/Layer14.png) 50% 50%/cover no-repeat;
}
.item .images {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.item:hover .item__logo {
  opacity: 1;
  visibility: visible;
  transition: 0.4s ease;
}
@media (max-width: 1100px) {
  .item {
    height: auto;
    padding: 0 0 70% 0;
  }
}

.slider {
  background-color: #f7f7f7;
  padding: 120px 0 60px 0;
}
.slider__item {
  text-align: center;
}
.slider__icon {
  margin: 0 0 35px 0;
}
.slider__title {
  margin: 0 0 20px 0;
  font-size: 18px;
  color: #353738;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.slider__title span {
  font-weight: 300;
  color: #848789;
}
.slider__text {
  font-size: 24px;
  color: #848789;
  font-style: italic;
  line-height: 34px;
  text-align: center;
}
.slider__dots {
  display: flex;
  justify-content: center;
}
.slider__dots__dot {
  width: 10px;
  height: 10px;
  border: 1px solid #848789;
  border-radius: 50%;
  margin: 100px 5px 0 5px;
}
.slider__dots__dot:hover {
  background-color: #848789;
  transition: 0.3s ease;
}
@media (max-width: 990px) {
  .slider {
    padding: 80px 0;
  }
}
@media (max-width: 600px) {
  .slider {
    padding: 30px 0;
  }
}

.shop__body {
  display: flex;
}
.shop__column {
  flex: 0 1 16.6665%;
}
.shop__column__b {
  flex: 0 1 33.333%;
}
.shop__footer {
  padding: 75px 0;
  background: #282f35;
  text-align: center;
}
.shop__btn {
  display: inline-block;
  height: 50px;
  line-height: 48px;
  letter-spacing: 2.8px;
  color: #fff;
  padding: 0 60px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid #fff;
}
.shop__btn:active {
  color: #282f35;
  background: #fff;
  transition: 0.2s ease;
}
@media (max-width: 1100px) {
  .shop__body {
    flex-wrap: wrap;
  }
  .shop__column {
    flex: 0 1 50%;
  }
  .shop__column:first-child {
    flex: 1 1 100%;
  }
  .shop__column:last-child {
    flex: 1 1 100%;
  }
  .shop__btn {
    padding: 0 20px;
  }
  .shop__footer {
    padding: 50px 0;
  }
}

.block-shop {
  height: 100%;
}
.block-shop__row {
  display: flex;
}
.block-shop__column {
  flex: 0 1 50%;
}
.block-shop__item {
  position: relative;
  padding: 0 0 50% 0;
  height: auto;
}
.block-shop__item__b {
  padding: 0 0 200% 0;
}
.block-shop__item__l {
  padding: 0 0 100% 0;
}
.block-shop__item .item__image19 {
  background: url(../img/Layer19.png) 50% 50%/cover no-repeat;
}
.block-shop__item .item__image21 {
  background: url(../img/Layer21.png) 50% 50%/cover no-repeat;
}
.block-shop__item .item__image20 {
  background: url(../img/Layer20.png) 50% 50%/cover no-repeat;
}
.block-shop__item .item__image22 {
  background: url(../img/Layer22.png) 50% 50%/cover no-repeat;
}
.block-shop__item .item__image23 {
  background: url(../img/Layer23.png) 50% 50%/cover no-repeat;
}
.block-shop__item .item__image25 {
  background: url(../img/Layer25.png) 50% 50%/cover no-repeat;
}
.block-shop__item .item__image24 {
  background: url(../img/Layer24.png) 50% 50%/cover no-repeat;
}
.block-shop__item .item__image26 {
  background: url(../img/Layer26.png) 50% 50%/cover no-repeat;
}

.subscribe__body {
  max-width: 534px;
  margin: 0 auto;
  text-align: center;
  padding: 110px 0;
}
.subscribe__logo {
  margin: 0 0 40px 0;
}
.subscribe__label {
  color: #848789;
  font-size: 24px;
  font-style: italic;
  margin: 0 0 35px 0;
}
.subscribe__form {
  display: flex;
}
.subscribe__input {
  flex: 1 1 auto;
  padding: 0 70px 0 0;
}
.subscribe__input .input {
  width: 100%;
  height: 69px;
  border: 1px solid #d3d7d9;
  background-color: #fff;
  padding: 0 28px;
  font-size: 20px;
  color: #7c7c7c;
  font-style: italic;
  line-height: 1.2;
}
.subscribe__button {
  flex: 0 0 126px;
}
.subscribe__btn {
  width: 100%;
  height: 72px;
  line-height: 70px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #64c29e;
  border: none;
}
@media (max-width: 750px) {
  .subscribe__body {
    padding: 50px 0;
  }
}
@media (max-width: 500px) {
  .subscribe__form {
    display: block;
  }
  .subscribe__input {
    padding: 0 60px 8px 0;
  }
}