@import  url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import "variables";
@import "mixins";
@import "header";
@import "footer";


.container {
    max-width: 1130px;
    padding: 0px 15px;
    margin:  0 auto;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}



body {
    font-family: 'lato';
    margin: 0;
    padding: 0;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
} 


.page {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;

}


.main-screen__bg {
    background: url(../img/page.png) 50% 50%/cover no-repeat;
    width: 100%;
    height: 100vh;
}


.generation {
    padding: 120px 0;
    background: #f7f7f7;

    &__block { }
    @media (max-width: 990px) {
        padding: 80px 0;
    }

    @media (max-width: 600px) {
        padding: 30px 0;
    }
}


.block {
    text-align: center;

    &__icon {
        margin: 0 0 33px 0;
     }
    
    &__title {
            font-size: 18px;
            color: rgb(53, 55, 56);
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 3.6px;
            margin: 0 0 18px 0;
            line-height: 24px;
     }
    
	&__text { 
            font-size: 18px;
            color: rgb(132, 135, 137);
            line-height: 34px;
            &__j { 
                text-align: justify;
                font-size: 16px;
                line-height: 30px;
                &::after {
                    content: '';
                    display: block;
                    margin: 35px auto 0 auto;
                    width: 50px;
                    height: 1px;
                    background-color: #ebebeb;
                }
            }
    }
        @media (max-width: 1500px) {
        &__text {
            &__j {
                &::after { 
                    margin:  15px auto 0px auto;
                }
            }        
        }
    }
}



.brands {
    
	&__row {  
        display: flex;
    }

    &__column {
        flex: 0 1 33.333%;

        &__b { 
            flex: 0 1 66.667%;
        }
     }
    
    
    &__item { }
    
    &__content {
        padding: 70px 65px 55px 65px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            margin: 0 0 0 -10px;
            height: 0;
            width: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top:  10px solid #fff;


        }
     }
    
	&__image {
        padding:  0px 0px 37.5% 0px;
        background: url(../img/Layer11.png) 50% 50%/cover no-repeat;
     }

     &__image2 {
        padding:  0px 0px 37.5% 0px;
        background: url(../img/Layer13.png) 50% 50%/cover no-repeat;
     }

     &__image3 {
        padding:  0px 0px 37.5% 0px;
        background: url(../img/Layer16.png) 50% 50%/cover no-repeat;
     }

    @media (max-width: 1500px) {
        &__content {
            padding: 40px 35px 30px 35px;
        }
    }

    @media (max-width: 1100px) {
        &__row {
            flex-direction: column;
        }
    }
}
.item {
    display: block;
    position: relative;
    height: 100%;

    &__logo {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(100, 194, 158, 0.5) ;
        z-index: 1;
        opacity: 0;
        visibility: hidden;

        span {
            margin-top: 10px;
            font-size: 14px;
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2.8px;
            text-align: center;  
        }
    }

	&__image {
        background: url(../img/Layer10.png) 50% 50%/cover no-repeat;
     }

     &__image2 {
        background: url(../img/Layer12.png) 50% 50%/cover no-repeat;
     }
    
     &__image3 {
        background: url(../img/Layer15.png) 50% 50%/cover no-repeat;
     }

     &__image4 {
        background: url(../img/Layer14.png) 50% 50%/cover no-repeat;

     }

     .images {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
     }

    &:hover {
        .item__logo {
            opacity: 1;
            visibility: visible;
            transition: 0.4s ease;
        }
    }

    @media (max-width: 1100px) {
        height: auto;
        padding: 0 0 70% 0;
    }
}



.slider {

    background-color: #f7f7f7;
    padding: 120px 0 60px 0;

    &__body { }
    
    &__item {
        text-align: center;
     }
    
    &__icon { 
        margin: 0 0 35px 0;
    }
    
    &__title { 
        margin: 0 0 20px 0;
        font-size: 18px;
        color: rgb(53, 55, 56);
        font-weight: bold;
        line-height: 1.2;
        text-align: center; 
        span {
            font-weight: 300;
            color: rgb(132, 135, 137);
        }
    }
    
	&__text { 
        font-size: 24px;
        color: rgb(132, 135, 137);
        font-style: italic;
        line-height: 34px;
        text-align: center;
    }

    &__dots {
        display: flex;
        justify-content: center; 
        
        &__dot {
            width: 10px;
            height: 10px;
            border: 1px solid  rgb(132, 135, 137);
            border-radius: 50%;
            margin: 100px 5px 0 5px;
        }

        &__dot:hover {
            background-color: rgb(132, 135, 137);
            transition: 0.3s ease;
        }
    }

    @media (max-width: 990px) {
        padding: 80px 0;
    }

    @media (max-width: 600px) {
        padding: 30px 0;
    }
}


 .shop {
    &__body {
        display: flex;
     }
    
	&__column { 
        flex: 0 1 16.6665%;

        &__b { 
            flex: 0 1 33.333%;
        }
    }



    
    &__footer {
        padding: 75px 0;
        background: #282f35;
        text-align: center;
     }
    
	&__btn {
        display: inline-block;
        height: 50px;
        line-height: 48px;
        letter-spacing: 2.8px;
        color: #fff;
        padding: 0 60px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        border: 1px solid #fff;

        &:active {
            color: #282f35;
            background: #fff;
            transition: 0.2s ease;
        }
     }

     @media (max-width: 1100px) {
        &__body {
            flex-wrap: wrap;
        }

        &__column {

            flex: 0 1 50%;

            &__b {

             }
            
             &:first-child {
                 flex: 1 1 100%;
             }

             &:last-child {
                flex: 1 1 100%;
            }
        
        }
        &__btn {     
                padding: 0 20px;
            }

            &__footer {
                padding: 50px 0; }
    }
}
.block-shop {
    height: 100%;
    &__row {
        display: flex;
     }
    
    &__column {
        flex: 0 1 50%;
     }

    &__item{
        position: relative;
        padding: 0 0 50% 0;
        height: auto;

        &__b {
            padding: 0 0 200% 0;
         }

        &__l {
            padding: 0 0 100% 0;
        }

        .item {
            &__image19 {
                background: url(../img/Layer19.png) 50% 50%/cover no-repeat;
            }
            &__image21 {
                background: url(../img/Layer21.png) 50% 50%/cover no-repeat;
            }
            &__image20 {
                background: url(../img/Layer20.png) 50% 50%/cover no-repeat;
            }
            &__image22 {
                background: url(../img/Layer22.png) 50% 50%/cover no-repeat;
            }
            &__image23 {
                background: url(../img/Layer23.png) 50% 50%/cover no-repeat;
            }
            &__image25 {
                background: url(../img/Layer25.png) 50% 50%/cover no-repeat;
            }
            &__image24 {
                background: url(../img/Layer24.png) 50% 50%/cover no-repeat;
            }
            &__image26 {
                background: url(../img/Layer26.png) 50% 50%/cover no-repeat;

            }
        }

    }

}




.subscribe {
    &__body { 
        max-width: 534px;
        margin: 0 auto;
        text-align: center;
        padding: 110px 0;
    }
    
    &__logo { 
        margin: 0 0 40px 0;
    }
    
    &__label {
        color: #848789;
        font-size: 24px;
        font-style: italic;
        margin: 0 0 35px 0;
     }
    
    &__form { 
        display: flex;
    }
    
    &__input { 
        flex: 1 1 auto;
        padding: 0 70px 0 0;
        .input {
            width: 100%;
            height: 69px;
            border: 1px solid #d3d7d9;
            background-color: #fff;

            padding: 0 28px;
            font-size: 20px;
            color: rgb(124, 124, 124);
            font-style: italic;
            line-height: 1.2;
        }
    }
    
    &__button {
        flex: 0 0 126px;
     }
    
	&__btn { 
        width: 100%;
        height: 72px;
        line-height: 70px;
        color: #fff;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 300;
        background-color: #64c29e;
        border: none;
    }

    @media (max-width: 750px) {
        &__body {
            padding: 50px 0;
        }
    }

    
    @media (max-width: 500px) {

        &__form {
            display: block;
        }

        &__input {
            padding: 0 60px 8px 0;
        }
    }
}


 
